<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEBapplication</title>
    <link rel="stylesheet" href="css/output.css">
</head>
<body class="w-full">
     <section class="w-full md:min-h-screen  "> 
         <nav class="flex justify-between items-center w-full border-b py-2 h-[70px] px-3">
            <h2 class="md:text-6xl text-4xl font-bold text-yellow-300">Motivation</h2>
            <a href="/" class="text-blue-800 font-bold md:text-2xl ">Home</a>
        </nav>