<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/output.css">
</head>
<body>
     <section class="w-full min-h-screen  "> 
         <nav class="flex justify-between items-center w-full border-b py-2 h-[70px] px-3">
            <h2 class="text-4xl font-mono text-[#F8AA53]">Movtivation</h2>
            <a href="/Home">Home</a>
        </nav>