<%- include("partials/header.ejs") %>

        <div class="h-[calc(100vh_-_70px)] w-full bg-gray-100 flex justify-center items-center ">

            <div class="  bg-cover mix-blend-multiply drop-shadow-lg  shadow-[8px_0_10px_rgba(0,0,0,0.2)] md:w-[60%] w-full h-full px-16 flex flex-col ">
                <div class="p-3 rounded-2xl mt-25 flex flex-col gap-5">
                <h2 class="md:text-8xl text-5xl font-bold text-[#F8AA53] ">Wlecome to our Motivation</h2>
                <p class="md:text-[16px] text-sm  text-gray-500 w-[250px] md:w-[500px] ">Welcome to a safe space where you can share your secret motivation—something that drives you every day. Don’t worry, it's completely private. Only you can see what you’ve written. No one else will ever have access to it. Let your words inspire you silently.</p>
                <div class="flex gap-3">
                    <a href="/register " class="bg-[#F8AA53] px-4 py-3 drop-shadow-[0_0_12px_rgba(0,0,0,0.3)] rounded-2xl hover:scale-103 duration-300">Register</a>
                    <a href="/login" class="bg-[#FDFE8D] drop-shadow-[0_0_12px_rgba(0,0,0,0.3)] px-6 py-3 rounded-2xl hover:scale-103 duration-300">Login</a>
                </div>

                </div>  
                
            </div>
            <div class="w-[40%] md:block hidden  h-full border-l border-white  ">
            
                <img class="h-full w-full max-w-4xl w mx-auto opacity-90 mix-blend-multiply drop-shadow-[0_0_12px_rgba(0,0,0,0.3)] " src="/images/fox.jpg" alt="">
            
            </div>

        </div>

        
        
    </section>
</body>
</html>