<%- include("partials/header.ejs") %>
        <div class="h-[calc(100vh_-_70px)] w-full bg-gray-50 flex justify-center items-center ">
<div class="flex justify-around  shadow-xl h-[70%]  w-[50%]  rounded-2xl p-5">
          <div class="w-1/2 flex flex-col gap-5 p-10 mt-15">
            <h2 class="font-bold text-3xl text-[#002D74]">A Secret That Belongs Only to You</h2>
            <p class="text-[15px] text-gray-400"><%=imp  %></p>

            <div class="flex gap-3 mt-5">
               <a href="/logout" class="px-4 py-2 bg-white shadow-2xl border">Logout</a>
            <a href="/submit" class="px-4 py-2 bg-white shadow-2xl border">Add</a>
            </div>
           
          </div>
          <div class="md:w-1/2 h-full  md:block hidden md:border-l-white border-l-2 rounded-2xl ">
            <img class="rounded-2xl h-full w-full" src="images/fox.jpg" alt="">
          </div>
         
      </div>
           

        </div>

        
        
    </section>
</body>
</html>