<%- include("partials/header.ejs") %>
        <div class="h-[calc(100vh_-_70px)] w-full bg-gray-100 flex justify-center items-center ">
    <div class="bg-cyan-50 shadow-xl md:w-1/2 w-[80%] px-12  rounded-2xl md:px-16 py-10 ">
        <form action="/submit" class="flex flex-col gap-4 " method="post">
            <label for="" class="text-3xl font-bold text-[#002D74]">What is your Motivation to do things in one word?(secret)</label>
            <input type="text" class="bg-white border rounded-2xl p-3" placeholder="Motivation" name="secret">
            <button class="px-4 py-2 rounded-2xl hover:scale-102 duration-300 bg-gray-200 border ">  Submit</button>

        </form>    
        </div>
            

        </div>

        
        
    </section>
</body>
</html>